# Самурай без меча подобен самураю с мечом, но только без меча

## 1. Списки (Lists)

In [62]:
example = []
example_1 = list()

In [63]:
type(example), type(example_1)

(list, list)

In [64]:
example = [1, 'das', (324, 123), 'dqw']

In [65]:
example

[1, 'das', (324, 123), 'dqw']

In [66]:
for item in example:
    print(item)

1
das
(324, 123)
dqw

In [67]:
example[1:]

['das', (324, 123), 'dqw']

In [19]:
example[::2]

[1, (324, 123)]

In [69]:
example[0] = 123
example[0]

123

In [71]:
example.append(2)

In [72]:
example

[123, 'das', (324, 123), 'dqw', 2]

In [75]:
example = [1, 2, 3, 4]
# example.remove(2)
example

[1, 2, 3, 4]

In [76]:
x = example.pop(2)

In [79]:
example.reverse()

In [80]:
example

[4, 2, 1]

In [81]:
list(reversed(example))

[1, 2, 4]

In [83]:
example = list(reversed(example))

In [84]:
example

[1, 2, 4]

In [22]:
list(sorted(example))

TypeError: '<' not supported between instances of 'str' and 'int'

In [86]:
sorted(reversed(example))

[1, 2, 4]

In [89]:
example = ['sadasdas', 'asdas', 'a', 'asdasd']
print(list(sorted(example, key=lambda x: len(x))))

['a', 'asdas', 'asdasd', 'sadasdas']

In [92]:
example = example + list(sorted(example, key=lambda x: -len(x)))
example

['sadasdas',
 'asdas',
 'a',
 'asdasd',
 'sadasdas',
 'asdas',
 'a',
 'asdasd',
 'sadasdas',
 'sadasdas',
 'asdasd',
 'asdasd',
 'asdas',
 'asdas',
 'a',
 'a']

In [93]:
id(example)

4484696176

In [94]:
id(sorted(example))

4487627952

In [95]:
example.sort()

In [96]:
id(example)

4484696176

In [61]:
example

[3, 3, 3, 3, 3, 3, 3, 3, 123, 123, 123, 123, 123, 123, 123, 123]

## 2. Кортежи (Tuples)

In [97]:
import sys
a = (1, 2, 3)
b = [1, 2, 3]

In [98]:
print(sys.getsizeof(a), sys.getsizeof(b))

80 96

In [99]:
a[0] = 1

TypeError: 'tuple' object does not support item assignment

## 3. Дек (Deque)

In [52]:
popleft popright

SyntaxError: invalid syntax (<ipython-input-52-7a87c57379d2>, line 1)

In [100]:
a = [1, 2, 3]

In [101]:
a.pop()

3

In [102]:
a

[1, 2]